*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}
h3{
    text-align: center;
    color:green;
    font-weight: bold;
}
.containers {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    justify-content: space-between;
    align-items: center;
    margin: 5px 5px;
    row-gap: 8px;
}
.content{
    width: 420px;
    /* border: 2px solid orange; */
    max-height: 700px;
    padding: 3px;
    text-align: justify;

}
.addBtn{
    color: black;
    font-weight: bold;
    position: relative;
    left: 87%;
}
#brandName{
    color: orangered;
}

#brandPrice{
      color: rgb(206, 33, 33);
}
.label{
    color: rgb(211, 39, 39);
    font-weight: 600;
}
.title{
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
}

.divImage{
    /* border: 2px dotted pink; */
    position: relative;
    left: 50px;
    height: 300px;
}
small{
    font-size: 15px;
}

.Foot{
    
    padding: 4px;
    display: flex;
    justify-content: space-between;

}
.addContainer{
    margin: 0px 5px;
    padding: 5px;
}
