*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}
h3{
    text-align: center;
    color:green;
    font-weight: bold;
}
p{
    text-align: center;
    color: mediumpurple;
    font-weight: bold;
    font-size:18px ;
}
small{
    font-size: 15px;
}
.containers {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    justify-content: space-between;
    align-items: center;
    margin: 5px 5px;
    
    
}
.content{
    width: 420px;
    min-height: 630px;
    padding: 3px;
    text-align: justify;
    row-gap: 2px;
}
.don{
    /* border:2px dashed red; */
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    margin-right: 8px;
}

#brandName{
    color: orangered;
}

#brandPrice{
      color: rgb(206, 33, 33);
}
.label{
    color: rgb(211, 39, 39);
    font-weight: 600;
}
.title{
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
}

.divImage{
    /* border: 2px dotted pink; */
    position: relative;
    left: 50px;
    height: 300px;
}



.Foot{
    
    padding: 4px;
    display: flex;
    justify-content: space-between;

}
.addContainer{
    margin: 0px 5px;
    padding: 5px;
}
